html,body{height: 100%;}
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  font-size: 14px;
  height: 100%;
}

a:hover, a:focus {
    text-decoration: none;
    cursor: pointer;
}
.main-container {
    min-height:25%/*45%;*/
}

.center-block {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-top {
  background-color: #20363F;
  min-height: 24px;
}
.navbar-top .navbar-brand
{
    font-size: 30px;
}
@media (min-width: 768px) {
    .navbar-top .navbar-brand
    {
        height: auto;
        padding: 2px 15px;
        font-size: 14px;
        color : #a4adb0;
    }

    .navbar-top .navbar-brand:hover,
    .navbar-top .navbar-brand:focus
    {
        color: #208993;
    }
}

.navbar-top .nav > li > a 
{
  padding-top: 2px;
  padding-bottom: 0px;
  line-height: 20px;
  color: #a4adb0;
}

.container > .navbar-header, .container > .navbar-collapse {
    margin-right: -15px;
    margin-left: 0;
}
.navbar-collapse{
    border: none;
    box-shadow: none;
}

.navbar .nav > li > a {
  color: #a4adb0;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #208993;
}

.second-bar {
  background-color: #2DD5C4;
  box-shadow: 0 1px 5px #888888;
  display: block;
  height: 40px;
  position: relative;
  top: 24px;
  margin-bottom: -1px;
  z-index: 999;
}
.logo {
  background: url('../../../img/logo_pucp2.png') no-repeat scroll;
  height: 98px;
  right: 0px;
  left: 0px;
  position: absolute;
  top: 23px;
  background-position: right;
  z-index: 1001;
}
.breadcrumb {
  position: relative;
  margin-right: 200px;
}
.footer {
  height: 100px;
  margin-top: 50px;
}
.footer .container {
  border-top: 1px solid #CCC;
  clear: both;
  color: #888;
  padding-top:20px;
}
.footer .container .back-top {
  display: block;
  margin: -55px auto 0;
  cursor: pointer;
}

.dropdown-menu dt {
display: block;
padding: 3px 20px;
cursor: default;
}
.dropdown-menu li > a.opt {
  padding-left: 35px;
}
.dropdown-menu li > a {
  min-height: 20px;
  cursor: pointer;
}
#content div {
  margin-top: 5px;
  margin-bottom: 5px;
}
.menu-link {
  cursor: pointer;
}


/* front-page */
.front-page {
    background: url('../../../img/modus-banner2.jpg') no-repeat scroll 60%;
    height: 100px;
    position: relative;
    margin-top: 26px;
}
.front-page .banner {
    border-bottom: 1px solid #D6D6D6;
    height: 100px;
}
.front-page .banner .banner-image {
    background: url('../../../img/modus_logo.png') no-repeat scroll left center;
    background-size: 100%;
    margin-top: 13px;
    margin-left: 12px;
    height: 75px;
    max-width: 439px;
}
/* Banner Clean */
.front-page.clean{
    background: none;
    height: 129px;
}
.front-page.clean .banner {
    height: 129px;
}
.front-page.clean .banner .banner-image {
    background: url('../../../img/modus_logo_blanco.png') no-repeat scroll center 0;
    margin-top: 40px;
    margin-left: 2px;
    height: 57px;
    width: 336px;    
}

@media screen and (min-width: 768px) {
  .body-content {
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
.front-page{
    background: url('../../../img/modus-banner2.jpg') no-repeat center top;
    padding-top: 40px;
    height: auto;
}
.logo
{
    top : 40px;
}
.second-bar{
    top : 25px;
}
}