
.title-modus{
    font-family: 'Oswald','lucida grande', helvetica, arial, sans-serif;
    color : #20363F;
    font-size: 31px;
    vertical-align: bottom;
    margin-bottom: 10px;
}
.title-modus a
{
    color : #20363F;
}
.title-modus a:hover
{
    color : #169abc;
}
.title-modus a>.fa.fa-arrow-circle-right
{
    color: #169abc;
    padding-left: 10px;
    font-size: large;
}
.title-modus .fa
{
    padding-bottom : 2px;
}

.title-modus small
{
    margin-left: 1em;
}

.title-modus img {
    height: 64px;
    width: 64px;
    vertical-align: text-top;
}


/*******************************/
.main-container .page-header{
    text-align: center;
}
@media (min-width: 768px){
.main-container .page-header{
    text-align: left;
}    
}
.main-container .page-header h2 {
    color: #8bc34a;
    font-family: 'Oswald';
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 8px;
    font-weight: normal;
    vertical-align: middle;
}
.main-container .page-header .subtitle {
    clear: both;
    display: block;
    font-size: medium;
    margin-bottom: 8px;
    color: #333;
}
.main-container .page-header .list-inline li + li::before {
    content: " | ";
    color: #169abc;
    margin-left: 0px;
    margin-right: 10px;
}
.main-container .page-header{
    border-bottom-width: 0;
    margin: 0px 0 20px;
}
/********************************/

.sidebar.affix {
position: static;
}
@media (min-width: 768px) and (max-width:991px){
.sidebar.affix {
position: fixed!important;
top: 25px;
}
}

@media (min-width: 768px){
.sidebar {
padding-left: 0px;
width: 158px;
}
}
@media (min-width: 992px){
.sidebar {
padding-left: 0px;
width: 132px;
}
}
@media (min-width: 992px){
.sidebar.affix, .sidebar.affix-bottom, sidebar.affix-top {
width: 132px;
}
}

@media (min-width: 992px){
.sidebar.affix {
position: fixed!important;
top: 25px;
}
}
@media (min-width: 1200px){
.sidebar {
padding-left: 0px;
width: 165px;
}
}
@media (min-width: 1200px){
.sidebar.affix-bottom, .sidebar.affix {
width: 165px;
}
}

@media (min-width: 992px){
.sidebar.affix-bottom .sidenav, .sidebar.affix .sidenav {
margin-top: 0;
margin-bottom: 0;
}
}
.sidenav {
margin-top: 0px;
margin-bottom: 20px;
}

.separator-line {
    margin: 20px 0;
    overflow: hidden;
}
.separator-line>div{
height: 4px;
float: left;
}
.separator-line>.left{
    width: 20%;
    background-color: #E6E6E6;
}
.separator-line>.right{
    width: 80%;
    background-color: #8bc34a;
}
.yellow-line {
    height: 4px;
    background-color: #8bc34a;
    border: 0;
    width: 100%;
    margin: 10px 0;
}

@media (min-width: 768px){
.col-sm-9.generalbar, .col-md-10.generalbar {
    border-left: 1px dashed #888;
}  
}
.content-description {
    font-family: arial,verdana,helvetica,sans-serif;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 15px;
    text-align: justify;
}
.phases-list{
    border: 0px solid #fff;
}
.generalbar .title-phase {
    font-family: 'Oswald','lucida grande', helvetica, arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
}
.generalbar .title-phase img {
    height: 48px;
    width: 48px;
}
.generalbar .title-phase .fa {
    margin-top: 10px;
}
.answers .entry{
    margin-bottom: 2px;
    padding: 5px;
    background: #FFEFCD;
    border: 1px solid #cdcfd4;
    word-wrap: break-word;
}
.answers .entry .content {
    padding-left: 10px;
}
.answers .entry .attachments {
    margin-top: 10px;
    overflow: hidden;
}
.answers .entry .attachments .file-attach{
    background: #F3EAA3;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    color: #DD4A79;
    font-family: "Helvetica";
    font-weight: bold;
}

.answers .entry .title-answer .date::before{
    content: "  ";
}
.answers .entry .title-answer .date {
    color: #999;
    margin-left: 5px;
}
.answers .entry .title-answer {
    color: #20ADB7;
    text-decoration: none;
    vertical-align: baseline;
    line-height: 1.38;
}
.answers .entry .title-answer .final {
    color : #8bc34a;
    font-size: 1.3em;
    text-transform: capitalize;
}
.answers .entry .title-answer.final .date {
    color:gray;
    font-size: 0.8em;
}
.answers .entry .title-answer i.fa {
    margin-right: 5px;
}
.answers .entry .footer-answer {
    min-height: 1em;
}

.answers .entry .entry{
    background: floralwhite;
    margin: 10px 3px 3px 20px;
}

.answers .entry .post-reanswer{
    padding: 9px 9px;
    margin-bottom: 4px;
    background-color: #f7f8f8;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}
.answers .entry .post-reanswer .list-inline>li{
    vertical-align: bottom;
}

.list-inline>li{
    margin: 2px;
    padding-right: 3px;
    padding-left: 3px;
}    

.generalbar .container.score {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.generalbar .container.score .bad li.active a{
    cursor: default;
}
.generalbar .container.score .bad li.active a,
.generalbar .container.score .bad li a:hover{
    background-color: #f2bebe;
}
.generalbar .container.score .bad li a{
    cursor: pointer;
    background-color: #f2dede;
    border-color: #eed3d7;
    color:#b94a48;
}
.generalbar .container.score .good li.active a{
    cursor: default;
}
.generalbar .container.score .good li.active a,
.generalbar .container.score .good li a:hover{
    background-color: #c9ddf7;
}
.generalbar .container.score .good li a{
    cursor: pointer;
    background-color: #d9edf7;
    border-color: #bce8f1;
    color:#3a87ad;
}
.generalbar .container.score li.disabled a:hover,
.generalbar .container.score li.disabled a{
    color: #999999;
    cursor: default;
    background-color: #eee;
    border-color: #ccc;
}

.generalbar .answers {
    margin-top: 5px;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.38;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}
.generalbar .general-bar-title h4{
    font-family: "Oswald";
    font-size: 18px;
    color: #20363F;
    margin: 0;
    padding: 10px;
    background-color: #8bc34a;
    margin-bottom: 10px;
}
.generalbar .panel-heading
{
    background-color: #8bc34a;
}
code.good{
    background-color: #d9edf7;
    border-color: #bce8f1;
    color:#3a87ad;
}
code.bad{
    background-color: #f2dede;
    border-color: #eed3d7;
    color:#b94a48;
}
.accordion.accordion-group {
    box-shadow: 0 0px 0px rgba(0,0,0,0.05);
}
.accordion{
    border: 0px solid #fff;
    box-shadow: none;
}
.accordion .accordion-header {
    font-size: 20px;
    color: #169abc;
    border: 1px solid transparent;
    border-bottom: 1px solid #bbb;
    cursor: pointer;
    padding: 4px 2px;
    min-height: 48px;
}
.accordion .accordion-header:hover{
    color : #A4ADB0;
}
.accordion .accordion-header .fa {
    float: right;
}
.accordion .accordion-header .icon-up {
    display: block;
}
.accordion .accordion-header .icon-down {
    display: none;
}
.accordion .accordion-header.collapsed .icon-up {
    display: none;
}
.accordion .accordion-header.collapsed .icon-down {
    display: block;
}

.main-container .page-header .list-inline li + li::before {

}

.accordion .phase-attachment li + li::before{
    margin-left: 0px;
    margin-right: 10px;
}
.accordion .phase-attachment li{
    margin-bottom: 5px;
}
.accordion .phase-attachment li a {
    font-weight: bold;
}

.accordion .phase-body {
    background-color: #FDFDFD;
    top : 0;
}
.accordion .phase-body p {
    margin-bottom: 0.2em;
    text-align: justify;
}

.accordion .phase-body .phase-subcontent {
    margin: 20px 0px 7px 0px;
    padding: 10px;
    border: 1px solid #8bc34a;
    border-radius: 0px;
    box-shadow: 0px 0px 10px #8bc34a;
}

.accordion .phase-body .phase-subcontent .nav-tabs{
    border: 0;
    margin-bottom: 10px;
    text-align: center;
}
.accordion .phase-body .phase-subcontent .nav-tabs li{
    height: 38px;
    text-align: center;
    cursor: pointer;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 15px;
    float: none;
    display: inline-block;
    zoom: 1;
}
.accordion .phase-body .phase-subcontent .nav-tabs li a{
    border : 0;
    color: #627178;
    font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
    text-transform: capitalize;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
    cursor: pointer;
}
.accordion .phase-body .phase-subcontent .nav-tabs li:hover a{
    color : #8bc34a;
    background-color: transparent;
}
.accordion .phase-body .phase-subcontent .nav-tabs li.active{    
    background: url('../../../img/modus_linea_green.png') no-repeat scroll center bottom;    
}
.accordion .phase-body .phase-subcontent .nav-tabs li.active a{    
    color : #8bc34a;    
}
.accordion .phase-body .phase-subcontent .phase-tab-content .subsubcontent-body{
    margin-left: 40px;
    padding: 10px 0 10px;
    margin-bottom: 10px;
    color: #333333;
    font-size: 14px;
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
}

.accordion .phase-body .phase-subcontent .phase-tab-content .phase-subtitle{
    
    margin-bottom: 0;
    margin-right: 5px;
    line-height: 20px;
    font-family: 'Oswald';
    font-size: 18px;
    color: #627178;
}
.accordion .phase-body .phase-subcontent .phase-tab-content .phase-subtitle small{
    margin-left: 10px;
}
.accordion .phase-body .phase-subcontent .phase-tab-content #draftinfo{
    font-size: 11px;
    color: #999;
}
.accordion .phase-body .phase-subcontent .phase-tab-content .table th,.accordion .phase-body .phase-subcontent .phase-tab-content .table td.center {
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}
.accordion .phase-body .phase-subcontent .phase-tab-content .fa{
    cursor: pointer;
}
.accordion .phase-body .phase-subcontent .phase-tab-content .table td .fa-pencil-square-o.noshow {
    visibility: hidden;
}
.accordion .phase-body .phase-subcontent .phase-tab-content .table td:hover .fa-pencil-square-o.noshow {
    visibility: visible;
}
.accordion .phase-body .phase-subcontent .phase-tab-content .icon {
    height: 32px;
    width: 32px;
    color : #627178;
    border: 0;
    text-align: center;
    display: inline-block; 
    vertical-align: middle; 
    border-radius: 50%;
    box-shadow: 0 0 6px #aaa;
    background-size: 100% 100%!important;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}
.phase-body .phase-subcontent .phase-tab-content .icon > .fa {
    font-weight: bold;
    margin-left: 5px;
    line-height: 30px;
}

.not-visibility
{
    visibility: hidden;
}


.general-tabs {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
}
.general-tabs li.modus-tab {
    border : none;
    cursor: pointer;
    text-align: center;
    min-width: 100px;
}
.general-tabs li.modus-tab a {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-weight: normal;
    color : #428BCA;
    border: none;
}
.general-tabs li.modus-tab:hover a {
    background: none;
    color: #8bc34a;
    border: none;
}
.general-tabs li.modus-tab.active a {
    background: url('../../../img/modus_linea_green.png') no-repeat scroll center bottom #FFF;
    color: #8bc34a;
    border: none;
}
.general-tabs li.modus-tab.active:hover a {
    background: url('../../../img/modus_linea_green.png') no-repeat scroll center bottom #FFF;
    color: #8bc34a;
    border: none;
}

.form-horizontal .control-label {
    font-size: 14px;
}
.form-horizontal .form-group {
    padding-bottom: 5px;
}
.list-inline .btn-modus {
    margin-right: 20px;
}
.btn-modus {
    -webkit-border-radius : 50%;
    border-radius: 50%;
    box-shadow: 0 0 5px #aaa;
    font-size: 15px;
    line-height: 23px;
    width: 26px;
    height: 26px;
    padding: 0px 4px;
    text-align: center;
}
.btn-modus .badge
{
    min-width: 14px;
    position: absolute;
    top: -2px;
    padding: 2px;
    margin-left: -2px;
    color: #fff;
    border-radius: 15px;
    font-size: 10px;
    background-color: #ff604f;
}
.btn-secondary {
    color: #fff;
    background-color: #19abd1;
    border-color: #169ABC;
    margin: 1px 3px;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open>.dropdown-toggle.btn-secondary {
    color: #fff;
    background-color: #169ABC;
    border-color: #1489A7;
}

.btn-opaque {
    color: #fff;
    background-color: #CACACA;
    border-color: #949495;
    margin: 1px 0px;
}
.btn-opaque:hover, .btn-opaque:focus, .btn-opaque:active, .btn-opaque.active, .open>.dropdown-toggle.btn-opaque {
    color: #fff;
    background-color: #949495;
    border-color: #4A4A4A;
}

.btn-modus-link {
    font-family: 'Oswald';
    color: #169abc;
    float: right;
    margin-right: 5px;
    position: relative;
    background: url("../../../img/modus_icons2.png") no-repeat scroll 0 0 transparent;
    height: 30px;
    padding-top: 2px;
    font-size: 16px;
    margin-top: 6px;
}
.btn-modus-link.see-more {
    width: 80px;
    color: #169abc;
    background-position: right 0px;
}

.img-thumbnail
{
    text-align: center;
    font-weight: bold;
    display: table-cell; 
    vertical-align: middle; 
    cursor: pointer;
    background-size: 100% 100%!important;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}

.img-thumbnail .danger
{
    color: #d9534f;
    font-weight: normal;
    font-size: 0.9em;
    background-color: #FFF;
    padding: 2px;
}

.img-thumbnail.down
{
    vertical-align: bottom;
}

h4.text-modus {
    font-family: "Oswald";
    font-size: 20px;
    color: #169abc;
    margin-left: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
    cursor: pointer;
}
h4.text-modus.small {
    font-size: 15px;
    margin-top: 10px;
}
h4.side-title {
    font-family: "Oswald";
    font-size: 16px;
    color: #20363F;
    margin: 0;
    padding: 10px;
    background-color: #8bc34a;
}
.side-title .collapse-btn.collapsed .up{
    display: none;
}
.side-title .collapse-btn .down{
    display: none;
}
.side-title .collapse-btn.collapsed .down{
    display: block;
}
.side-title .fa{
    vertical-align: bottom;
}
.side-title .collapse-btn{
    margin-top: 2px;
}

.side-block {
    border: 1px solid #F6F6F6;
    /* background-color: #F6F6F6; */
}
.side-block .teams-heading {
    padding: 10px 5px;
    background-color: #8bc34a;
}

.side-list {
    padding-left: 0;
    color:#169abc;
    list-style: none;
}
.side-list li {
    font-size: 12px;
    padding: 3px 20px;
    cursor: pointer;
}
.sidebar #collapse-column {
    font-size: 0.9em;
    padding-bottom: 10px;
    float: right;
}
.side-list li:hover {
    background-color: #E6E6E6;
}
.side-list li.active {
    background-color: #E6E6E6;
    font-weight: bold;
}
.form-phase {
    padding-top: 26px;
}

.input-group-addon-modus {
    background: url("../../../img/modus_icons2.png") no-repeat scroll 0 -1003px transparent;
    width: auto;
    height: 34px;
    border: none;
    cursor: pointer;
    padding: 14px;
}
.input-group-addon-modus:hover {
    background-position: 0 -1032px;
}

.input-group>.form-control
{
    overflow: hidden;
    font-size: 12px;
    line-height: 1.9;
}


.user-menu,.user-menu ul,.user-menu .divider, .user-menu ul a 
{
    background-color: #20363F;
    color: #A4ADB0;
}

.user-menu ul a:hover {
    color: #208993;
    background-position: left -270px;
}
.user-menu.open>a, .user-menu.open a:hover
{
    color: #208993!important;
    background-color: #20363F!important;
}

.panel.panel-modus {
    background: url("../../../img/modus_modulo_back.png");
    box-shadow: 0 2px 3px #888888;
    border-radius: 2px;
    border : 0;
    overflow: auto;
}

.panel.panel-modus .panel-body {
    padding: 0;
}

.panel.panel-modus .panel-body .list-inline-icons {
    margin: 10px 10px 0px 10px;
}

.modus-icon {
    background: url("../../../img/modus_icons2.png") no-repeat scroll 0 0 transparent;
    height: 30px;
    width: 30px;
    margin-left: 3px;
    margin-right: 3px;
    padding: 0;
    float: left;
    cursor:pointer;
}
.modus-icon.delete {
    background-position: right -167px;
}
.modus-icon.delete:active,
.modus-icon.delete:hover {
    background-position: right -195px;
}
.modus-icon.edit {
    background-position: right -336px;
}
.modus-icon.edit:active,
.modus-icon.edit:hover {
    background-position: right -364px;
}
.modus-icon.view {
    background-position: right -279px;
}
.modus-icon.view:active,
.modus-icon.view:hover {
    background-position: right -307px;
}
.modus-icon.groups {
    background-position: right -1064px;
}
.modus-icon.groups:active,
.modus-icon.groups:hover {
    background-position: right -1095px;
}
.panel .panel-left-modus {
    padding-right: 0px;
    padding-left: 0px;
}
.panel .panel-left-modus .grade-heading {
    font-size: 0.8em;
    text-align: center;
    margin-top: 10px;
}
.teams-list {
    padding: 4px 0;
    
}
.teams-list dt{
    margin: 2px 5px;
    color: #333;
    font-size: 12px;
    text-decoration: underline;
    font-weight: bold;
}
.panel .panel-left-modus .teams-list::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.panel .panel-left-modus .teams-list::-webkit-scrollbar-track {
	background-color: rgba(20,20,20,0.1);
	-webkit-border-radius: 5px;
}
.panel .panel-left-modus .teams-list::-webkit-scrollbar-thumb:vertical {
	background-color: rgba(0,0,0,.2);
	-webkit-border-radius: 5px;
}
.panel .panel-left-modus .teams-list::-webkit-scrollbar-thumb:vertical:hover {
	background-color: rgba(0,0,0,0.1);
}

.teams-list dl{
    margin-bottom: 10px;
}
.header-include-answers{
    display: none;
}
.panel .panel-left-modus .user-img {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}
.panel .panel-left-modus .panel-heading {
    background-color: #E5E5E5;
    min-height: 27px;    
}

.panel .panel-right-modus {
    background: white;
    border : 0;
    padding-bottom: 10px;
    padding-right: 0px;
    padding-left: 0px;
}
.panel .panel-right-modus .panel-body {
    
    border-left: dashed 1px #CCC;
}
.panel .panel-right-modus .panel-heading {
    border : 0;
    background-color: #00D5C5;
    min-height: 27px;    
    border-top-right-radius: 2px;
}
.panel .modus-title {
    font-family: "Oswald";
    font-size: 26px;
    color: #169abc;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 26px;
    margin-top: 10px;
    cursor: pointer;
    overflow: hidden;
    height: 37px;
}
.panel .modus-subtitle {
    font-family: Arial;
    font-size: 11px;
    color: #999999;
    float: none;
    margin-left: 10px;
    font-style: italic;
    margin-bottom: 10px;
    display: block;
}
.panel .modus-subtitle .list-inline{
    margin-bottom: 0px;
}
.panel .modus-subtitle .list-inline li + li::before {
    content: "|";
    color: #AAA;
    padding-right: 10px;
}
.panel .modus-subtitle .managers {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.panel .modus-content {
    font-family: Arial;
    font-size: 13px;
    color: #20363F;
    float: none;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
    height: 130px;
    overflow: hidden;
}
.panel .modus-footer
{
    padding:  5px 10px;
}
.panel-selected .panel-content {
    background: #E7E7E7;
    margin: 3px 7px;
    padding: 5px;
}

.dropdown-menu.scroll
{
    overflow-y: auto;
    max-height: 250px;
}
.select-dropdown .dropdown-menu {
    margin-left: 10px;
    margin-right: 10px;
    max-height: 150px;
    overflow: auto;
    width: 97.5%;
}
.select-dropdown .dropdown-menu li{
    /*float: left;*/
    margin-left: 2px;
    margin-right: 2px;
}

.panel-left
{
    margin-bottom: 10px;
}

.link-modus {
    font-family: 'Oswald';
    font-size: 17px;
    height: 28px;
    line-height: 27px;
    color: #169abc;
    text-decoration: none;
    margin-right: 25px;
    cursor: pointer;
}

.dotted-line{
    width: 100%;
    border-bottom: 1px dashed #AAA;
    margin-top: 10px;
    height: 10px;
    margin-bottom: 30px;
}

/*Schools*/
.panel-body label
{
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 5px;
}
.input-school .view
{
    overflow: hidden;
}
#schools-list .input-school .edit {
    display:none;
}
#schools-list .input-school.editing .view {
    display:none;
}
#schools-list .input-school.editing .edit {
    display:block;
}
.actions {
    position: relative;
    opacity: 0.25;
}
tr:hover .actions,tr:active .actions,tr:focus .actions {
    opacity: 1;
}

.input-school{
    margin-bottom: 5px;
}


.input-year .view
{
    overflow: hidden;
}
#years-list .input-year .edit {
    display:none;
}
#years-list .input-year.editing .view {
    display:none;
}
#years-list .input-year.editing .edit {
    display:block;
}
.actions {
    position: relative;
    opacity: 0.25;
}
tr:hover .actions,tr:active .actions,tr:focus .actions {
    opacity: 1;
}

.input-year{
    margin-bottom: 5px;
}




.room-list .input-room .edit {
    display:none;
}
.room-list .input-room.editing .view {
    display:none;
}
.room-list .input-room.editing .edit {
    display:block;
}
.room-list .input-room .actions {
    position: relative;
    opacity: 0.5;
}
.room-list .input-room:hover .actions {
    opacity: 1;
}
.input-room{
}
.levels-list
{
    margin-bottom: 10px;
}
.grade-view{
    margin: -20px -10px 20px -10px;
    padding: 20px 10px 0px 10px;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.grade-view .grade-name
{
    margin-bottom: 3px;
}
/* Groups */
.container-team-student {
    background-color: #E7E7E7;
}
.team-student{
    display: inline-block;
    min-width: 100px;
    padding: 5px 10px;
    margin: 3px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #169abc;
    border-radius: 0px;
    cursor: move;
}

.fileinput-button{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
margin: 0;
opacity: 0;
filter: alpha(opacity=0);
font-size: 23px;
cursor: pointer;
}

.badge {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    vertical-align: middle;
}

.opinions {
    margin-bottom: 20px;
}
.opinions .entry{
    padding-bottom: 5px;
    padding-top: 2px;
}
.opinions .entry .icon-like{
    cursor: pointer;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    width: 15px;
    height: 15px;
    background: url("../../../img/modus_icons2.png") no-repeat scroll -6px -1266px transparent;
}
.opinions .entry .icon-like:hover,
.opinions .entry .icon-like.active{
    background-position: -6px -1240px;
}
.opinions .entry .title .name {
    color: #20ADB7;
    line-height: 15px;
    font-size: 1.2em;
    font-weight: bold;
}
.opinions .entry .title .date {
    color: gray;
    line-height: 15px;
}

/*Table editable*/
.table-editable .name{
    min-width: 120px;
}
.table-editable .username {
    min-width: 100px;
}
.table-editable .password {
    min-width: 100px;
}
.table-editable .view{
    overflow: hidden;
    min-width: 80px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.table-editable .edit{
    min-width: 80px;
    display: none;
}
.table-editable .editing .edit{
    display: block;
}
.table-editable .editing .view{
    display: none;    
}

.table-editable td.select{
    text-align: center;
    vertical-align: middle;
    width: 30px;
}
.table-editable .checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}
.focused {
    border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
    box-shadow: 0 0 8px rgba(82,168,236,.6);
}

.attach-values label{
    margin-right: 10px;
}

.fa.shadow {
    text-shadow: 0px 0px 8px #999;
}
.fa.shadow-in{
    text-shadow: 0px 0px 1px #aaa;
}

.fa-stack.icon-link {
    font-size: 13px;
    color: rgb(25,171,209);
    margin: 0px 5px;
}
.fa-stack.icon-link:hover {
    color: #aaa;
}

#statistic-all .title-phase {
    vertical-align: middle;
}
#statistic-all .title-phase img {
    width: 48px;
    height: 48px;
    margin-right: 5px;
}
.table-progress-statistics
{
    font-size: 0.9em;
}
.table-progress-statistics .group-title
{
    font-family: "Oswald"
}
.table-progress-statistics th {
    vertical-align: middle!important;
    text-align: center;
    font-weight: bold;
}
.table-progress-statistics .circle-mark {
    text-align: center;
    color : rgb(25,171,209);
}
.table-progress-statistics .circle-mark i{
    display: none;
    font-size: 1.3em;
}

.table-progress-statistics .circle-mark.noprogress.result-0 i{
    display: block;
}

.table-progress-statistics .circle-mark.draft.result-1 i{
    display: block;
}

.table-progress-statistics .circle-mark.ended.result-2 i{
    display: block;
}

.table-assessment th {
    vertical-align: middle!important;
    text-align: center;
    font-weight: bold;
}
.table-assessment th.small
{
    font-size: 9px;
}

.table-assessment td {
    vertical-align: middle!important;
    text-align: center;
}
.table-assessment .bold {
    font-weight: bold;
}
#project-admin-ddm {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0 15px;
}
#project-admin-ddm li {
    float: left!important;
    max-width: 200px;
    overflow: hidden;
    width: 20%;
    font-size: 0.9em;
}
#project-admin-ddm li a {
    padding: 2px 0px 2px 5px;
}
#project-admin-ddm li label {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#statistic-all .mark-student
{
    border-right: 0;
    border-left: 1px solid #000;
}
#statistic-all .mark-admin
{
    border-right: 1px dashed #999;
    border-left: 1px dashed #999;
}
#statistic-all .mark
{
    border-left: 0;
    font-weight: bold;
    border-right: 1px solid #000;
}



.tab-content
{
    min-height: 300px;
}

.tab-content h2{
    text-align: center;
    vertical-align: middle;
}

.tab-content .error{
    color: red;
    margin-top: 2em;
}

#schoolsapp .panel-body
{
    min-height: 100px;
}

.twitter-typeahead
{
    width: 100%;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-dropdown-menu {
    
  width: 100%;
  margin-top: 0px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 1px 4px 8px 4px;
     -moz-border-radius: 1px 4px 8px 4px;
          border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion
{
    padding: 3px 10px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor 
{
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}

.typehead
{
    background-color: #fff!important;
}

.has-error .btn
{
    border-color: #a94442;
}
.has-error .fa
{
    color : #a94442;
}

.tree li {
    margin: 0px 0;
    list-style-type: none;
    position: relative;
    padding: 5px 5px 0 0px;
}

.tree li::before{
    content: '';
	position: absolute; 
    top: 0;
	width: 1px; 
    height: 100%;
	right: auto; 
    left: -20px;
	border-left: 1px solid #ccc;
    bottom: 50px;
}
.tree li::after{
    content: '';
    position: absolute; 
    top: 15px; 
    width: 20px; 
    height: 20px;
    right: auto; 
    left: -20px;
    border-top: 1px solid #ccc;
}
.tree li a{
    display: inline-block;
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
}

/*Remove connectors before root*/
.tree > ul > li::before, .tree > ul > li::after{
	border: 0;
}
/*Remove connectors after last child*/
.tree li:last-child::before{ 
      height: 15px;
}



/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}



.block-loading
{
    opacity : 0.75;
    background : #fff;
    position : absolute;
    top : 0;
    left : 0; 
    z-index: 2;
    font-size : 3em; 
    text-align : center;
}

.block-loading i
{
    top: 50%;
    left: 50%;
    position: absolute;
    color: #000;
}

.img-circle 
{
    border-radius: 50%;
    box-shadow: 0 0 6px #aaa;
}

.modus-description {
    color : #333;
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    font-size: 14px;
}
.modus-description img {
    padding: 5px;
    max-width: 100%!important;
}
.modus-description iframe
{
    max-width: 100%!important;
}
.list-inline
{
    overflow-x: hidden;
}
#project-school-ddm, #project-instructor-ddm
{
    max-height: 200px;
    overflow: auto;
    
}

.navbar-modus {
    background-color: transparent;
    margin-top: 5px;
    border: 0px solid transparent;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #169abc;
}

.navbar-modus .navbar-collapse
{
  padding: 0;  
  overflow: hidden;
}
.navbar-modus .school-list
{
    max-height: 250px;
    overflow-y: auto;
}
.navbar-modus .nav > li > a
{
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #169abc;
}

.navbar-modus .navbar-nav > .open > a,
.navbar-modus .navbar-nav > .open > a:hover,
.navbar-modus .navbar-nav > .open > a:focus
{
    color : #F0836E;
    background-color: transparent;
}
.navbar-modus .navbar-nav > li
{
    margin-top: 5px;
}
.navbar-modus .navbar-nav > li > a:hover,
.navbar-modus .navbar-nav > li > a:focus
{
    color :  #F0836E;
    background-color: transparent;
}
.navbar-modus .form-control-feedback
{
    top:0px;
}
.navbar-modus .navbar-collapse, .navbar-modus .navbar-form
{
    border-color: transparent;
}


.navbar-modus .navbar-nav > .active > a,
.navbar-modus .navbar-nav > .active > a:hover,
.navbar-modus .navbar-nav > .active > a:focus
{
    color : #F0836E;
    background-color: transparent;
}
@media (min-width: 768px) {
    .navbar-modus .navbar-nav > .active > a,
    .navbar-modus .navbar-nav > .active > a:hover,
    .navbar-modus .navbar-nav > .active > a:focus
    {
        background: url('../../../img/modus_linea_pink.png') no-repeat scroll center bottom #FFF;
    }
}


.btn-attach
{
    color: #fff;
    background-color: #666;
}
.btn-attach .fa
{
    font-size: 1.3em;
}
.btn-attach:hover
{
    color : #fff;
}
.btn-attach-pdf
{
    background-color: #e51c23;
}
.btn-attach-word
{
    background-color: #2B579A;
}
.btn-attach-excel
{
    background-color: #259b24;
}
.btn-attach-powerpoint
{
    background-color: #D44926;
}
.btn-attach-image
{
    color : #FDF300;
    background-color: #C08B00;
}