
 /* Banner Flash */
.front-page.flash{
    background: url('../../../img/modus-banner.jpg') no-repeat scroll center;
    height: 304px;
}
.front-page.flash .banner{
    height: 265px;
}
.front-page.flash .banner .banner-image img {
    margin-left: 8px;
    margin-top: 74px;
    position: absolute;
}
.front-page.flash .banner .banner-image embed {
    width: 1122px;
    height: 330px;
    position: relative;
    top: -42px; 
}
@media(min-width:768px)
{
    .front-page.flash .banner{
        height: 305px;
    }
}
@media (max-width: 1199px) {
    .front-page.flash .banner .banner-image embed {
        left: -100px;
    }
}
@media (max-width: 991px) {
    .front-page.flash .banner .banner-image embed {
        left: -200px;
    }
}
@media (max-width: 767px) {
    .front-page.flash .banner .banner-image embed {
        display: none;
    }
    .main-container{
        min-height: 25%;
    }
}
.front-page.flash .banner .banner-text {
    width: 365px;
    position: relative;
    top : 50px;
    color: #8bc34a;
    float: right;
    font-family: 'Oswald';
    font-size: 18px;
    line-height: 21px;
    text-align: right;    
}
.front-page.flash .banner .banner-text a {
    background-position: right top;
    clear: both;
    float: right;
    margin-top: 25px;
    color: #169abc;
    text-decoration: none;
    cursor: pointer;
    font-family: arial,verdana,helvetica,sans-serif;
    font-size: 13px;
}


#login-recover-form .title {
    color: #2DD5C4;
    font-family: 'Oswald';
    font-size: 2.5em;
    line-height: 34px;
    padding-bottom: 5px;
    font-weight: normal;
}
#login-recover-form input,
#login-recover-form .btn {
    font-family: 'Oswald','lucida grande', helvetica, arial, sans-serif;
}